{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <br><br>
 <div class="container">

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email"  value="admin@gmail.com" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" value="admin" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <br><br><br>
    <div class="col-md-12 text-center">
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    </div>
</form>
</div>
{% endblock %}
