{{ form_start(form) }}
   {{ form_start(form) }}
    {{ form_row(form.label) }}
    {{ form_row(form.refQuestion) }}

<div id="options" data-prototype="{{ form_row(form.options.vars.prototype)|e('html_attr') }}">
    {{ form_row(form.options) }}
    <span></span>
</div>
{#length : {{ form.options|length }}#}
{% for item in form.options  %}
{% endfor %}

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
