<div class="container">
<ng-container *ngIf="(questionsInput$ | async) as result" [ngSwitch]="result.dataState">

  <ng-container *ngSwitchCase="DataStateEnum.LOADING">
    Loading .....
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.ERROR">
    <div class="alert-danger">
      {{result.errorMessage}}
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.LOADED">

      <app-question-item [question]="q" *ngFor="let q of result.data" style="display: contents"></app-question-item>
  </ng-container>
</ng-container>
</div>
