<br>
<div *ngIf="question">
    Label : {{ question.label }}
  <br>

    <div *ngFor=" let answer of question.answers; let i=index; ">
      <br>
      <div *ngIf="question.answer_type=='MMA';else msa">
        {{i+1}} -
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="Answer(question,answer.id)">
        <label class="form-check-label" for="flexCheckDefault" style="margin-left: 5px">
            {{answer.body}}
        </label>
     </div>
      <ng-template #msa>
         {{i+1}} -
        <div id="flexRadioDefault1{{answer.id}}">
        <input class="form-check-input" type="radio" name="{{question.id}}" id="flexRadioDefault1{{answer.id}}" (click)="Answer(question,answer.id)" >
          <label class="form-check-label" for="flexRadioDefault1{{answer.id}}" style="margin-left: 5px">
            {{ answer.body}}
          </label>
        </div>


      </ng-template>

</div>
