<div class="container">
  <div class="row">
    <div class="col-md-12 " style="margin-top: 10px;">
      <app-question-list [questionsInput$]="questionsT$"></app-question-list>
      <br>
      <div class=" text-center">
        <button class="btn btn-primary" (click)="finish()"> submit </button>
        <br><br>
        <button *ngIf="isSuccess==2" class="btn btn-danger">KO</button>
        <button *ngIf="isSuccess==1" class="btn btn-success">OK</button>
      </div>
    </div>
  </div>
</div>
